.popup__submit-button{
    width: 100%;
    min-height: 50px;
    color: white;
    background: black;
    border: none;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    font-weight: normal;
    transition: background-color 1s ease-in;
    
}

.popup__submit-button:hover{
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    
}