.grid-element__description{
    display: flex;
    justify-content: space-between;
    padding-bottom: 31px;
    padding-top: 25px;
    background: white;
    padding-left: 21px;
    padding-right: 15px;
    align-items: flex-end;
}