.popup__exit-button{
   
    width: 46px;
    height: 47px;
    background-position: center center;
    background-color: transparent;
    border: none;
    background-image: url(../../../images/Close-Icon.png);
    position: absolute;
    z-index: 10;
    left: 98%;
    bottom: 98%;

}

.popup__exit-button:hover{
    opacity: .6;
    cursor: pointer;
}