.grid-element__like-button{
    width: 21px;
    min-width: 21px;
    height: 19px;
    margin-right: 4px;
    background-image: url(../../../images/like.png);
    background-position: center;
    background-size: contain;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
}